/* INDEX
----------------------------------------------------------------------------------------
01. Global Variables
02. General css
03. Header css
04. Hero css
05. About Us css
06. Our Service css
07. Our FAQs css 08. Our Blog css 09. Footer css 10. Privacy Policy css
-------------------------------------------------------------------------------------- */

/************************************/
/*** 	 01. Global Variables	  ***/
/************************************/

:root {
	--primary-color: #010535;
	--secondary-color: #F2F2F5;
	--text-color: #707070;
	--accent-color: #4D51AB;
	--accent-secondary-color: #55CEE3;
	--white-color: #FFFFFF;
	--divider-color: #F5F5F5;
	--dark-divider-color: #FFFFFF33;
	--error-color: rgb(230, 87, 87);
	--default-font: "Plus Jakarta Sans", sans-serif;
}

/************************************/
/*** 	   02. General css		  ***/
/************************************/

body {
	font-family: var(--default-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 1em;
	background-color: var(--white-color);
	color: var(--text-color);
}

::-webkit-scrollbar-track {
	background-color: var(--secondary-color);
	border-left: 1px solid var(--secondary-color);
}

::-webkit-scrollbar {
	width: 7px;
	background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
}

p {
	line-height: 1.7em;
	margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	line-height: 1.2em;
	color: var(--primary-color);
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	outline: 0;
}

a:focus {
	text-decoration: none;
	outline: 0;
}

html,
body {
	width: 100%;
	overflow-x: clip;
}

.container {
	max-width: 1300px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	padding-right: 15px;
	padding-left: 15px;
}

.section-container {
	max-height: CALC(100vh - 60px);
}

.image-anime {
	position: relative;
	overflow: hidden;
}

.image-anime:after {
	content: "";
	position: absolute;
	width: 200%;
	height: 0%;
	left: 50%;
	top: 50%;
	background-color: rgba(255, 255, 255, .3);
	transform: translate(-50%, -50%) rotate(-45deg);
	z-index: 1;
}

.image-anime:hover:after {
	height: 250%;
	transition: all 600ms linear;
	background-color: transparent;
}

.reveal {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	visibility: hidden;
	overflow: hidden;
}

.reveal img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transform-origin: left;
	transform-origin: left;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.row>* {
	padding-right: 15px;
	padding-left: 15px;
}

.row.no-gutters {
	margin-right: 0px;
	margin-left: 0px;
}

.row.no-gutters>* {
	padding-right: 0px;
	padding-left: 0px;
}

.btn-default {
	position: relative;
	display: inline-block;
	background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-secondary-color) 50%, var(--accent-color) 100%);
	background-size: 200% auto;
	border-radius: 100px;
	color: var(--white-color);
	font-size: 18px;
	font-weight: 600;
	line-height: 1em;
	text-transform: capitalize;
	border: none;
	padding: 17px 60px 17px 30px;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
	z-index: 0;
}

.btn-default:hover {
	background-position: right center;
}

.btn-default::before {
	content: '\f0a9';
	font-family: 'Font Awesome 6 Free';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-30px, -50%);
	font-size: 20px;
	color: var(--white-color);
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
}

.btn-default:hover::before {
	transform: translate(-27px, -50%);
}

.btn-default.btn-highlighted {
	background: var(--white-color);
	color: var(--accent-color);
}

.btn-default.btn-highlighted::before {
	color: var(--accent-color);
}

.btn-default.btn-highlighted::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	border-radius: 100px;
	transition: 0.4s ease-in-out;
	z-index: -1;
}

.btn-default.btn-highlighted:hover {
	background-color: transparent;
	color: var(--white-color);
}

.btn-default.btn-highlighted:hover::before {
	color: var(--white-color);
}

.btn-default.btn-highlighted:hover:after {
	width: 100%;
	left: 0;
	right: auto;
}

.cb-cursor:before {
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-container,
.loading {
	height: 100px;
	position: relative;
	width: 100px;
	border-radius: 100%;
}

.loading-container {
	margin: 40px auto;
}

.loading {
	border: 1px solid transparent;
	border-color: transparent var(--white-color) transparent var(--white-color);
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}

.loading-container:hover .loading,
.loading-container .loading {
	transition: all 0.5s ease-in-out;
}

#loading-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 66px;
	transform: translate(-50%, -50%);
}

@keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.section-row {
	margin-bottom: 80px;
}

.section-row .section-title {
	margin-bottom: 0;
}

.section-row .section-title {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	text-align: center;
}

.section-btn {
	text-align: end;
}

.section-title-content p {
	margin: 0;
}

.section-title {
	position: relative;
	margin-bottom: 40px;
	z-index: 1;
}

.section-title h3 {
	position: relative;
	display: inline-block;
	font-size: 15px;
	line-height: normal;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--primary-color);
	margin-bottom: 20px;
}

.section-title h1 {
	font-size: 68px;
	font-weight: 700;
	color: var(--white-color);
	margin-bottom: 0;
	cursor: none;
}

.section-title h2 {
	font-size: 46px;
	font-weight: 700;
	margin-bottom: 0;
	cursor: none;
}

.section-title h5 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 0;
	color: var(--white-color);
	cursor: none;
}

.section-title h1 span,
.section-title h2 span {
	background: linear-gradient(90.15deg, var(--accent-color) 0%, var(--accent-secondary-color) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-title p {
	margin-top: 20px;
	margin-bottom: 0;
}

.section-title.dark-section h3,
.section-title.dark-section h1,
.section-title.dark-section h2,
.section-title.dark-section p {
	color: var(--white-color);
}

.section-title.dark-section h3::before {
	filter: brightness(0) invert(1);
}

.help-block.with-errors ul {
	margin: 0;
	text-align: left;
}

.help-block.with-errors ul li {
	color: var(--error-color);
	font-weight: 500;
	font-size: 14px;
}

/************************************/
/**** 	   03. Header css		 ****/
/************************************/

header.main-header {
	position: sticky;
	top: 0;
	z-index: 10000;
	background: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.navbar {
	padding: 0;
	align-items: center;
}

.navbar-brand {
	padding: 0;
	margin: 0;
}

.main-menu .nav-menu-wrapper {
	flex: 1;
	text-align: center;
	margin: 0 20px;
}

.main-menu .nav-menu-wrapper>ul {
	align-items: center;
	display: inline-flex;
}

.main-menu ul li {
	margin: 0;
	position: relative;
}

.main-menu ul li a {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2em;
	padding: 14px 20px !important;
	color: var(--primary-color);
	text-transform: capitalize;
	transition: all 0.3s ease-in-out;
}

.main-menu ul li.submenu>a:after {
	content: '\f107';
	font-family: 'FontAwesome';
	font-weight: 900;
	font-size: 14px;
	margin-left: 8px;
}

.main-menu ul li a:hover,
.main-menu ul li a:focus {
	color: var(--accent-secondary-color);
}

.main-menu ul ul {
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0.8);
	transform-origin: top;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 230px;
	border-radius: 20px;
	position: absolute;
	left: 0;
	top: 100%;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	transition: all 0.3s ease-in-out;
	text-align: left;
}

.main-menu ul li.submenu:first-child ul {
	width: 230px;
}

.main-menu ul ul ul {
	left: 100%;
	top: 0;
	text-align: left;
}

.main-menu ul li:hover>ul {
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
	padding: 5px 0;
}

.main-menu ul li.submenu ul li.submenu>a:after {
	content: '\f105';
	float: right;
}

.main-menu ul ul li {
	margin: 0;
	padding: 0;
}

.main-menu ul ul li a {
	color: var(--white-color);
	padding: 8px 20px !important;
	transition: all 0.3s ease-in-out;
}

.main-menu ul li:hover>ul {
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
	padding: 5px 0;
}

.main-menu ul ul li a:hover,
.main-menu ul ul li a:focus {
	color: var(--primary-color);
	background-color: transparent;
	padding: 8px 20px 8px 23px !important;
}

.main-menu ul li.highlighted-menu {
	display: none;
}

.responsive-menu,
.navbar-toggle {
	display: none;
}

.responsive-menu {
	top: 0;
	position: relative;
}

.slicknav_btn {
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 38px;
	height: 38px;
	margin: 0;
	border-radius: 8px;
}

.slicknav_icon .slicknav_icon-bar {
	display: block;
	width: 100%;
	height: 3px;
	width: 22px;
	background-color: var(--white-color);
	border-radius: 6px;
	margin: 4px auto !important;
	transition: all 0.1s ease-in-out;
}

.slicknav_icon .slicknav_icon-bar:first-child {
	margin-top: 0 !important;
}

.slicknav_icon .slicknav_icon-bar:last-child {
	margin-bottom: 0 !important;
}

.navbar-toggle a.slicknav_btn.slicknav_open .slicknav_icon span.slicknav_icon-bar:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 5px);
}

.navbar-toggle a.slicknav_btn.slicknav_open .slicknav_icon span.slicknav_icon-bar:nth-child(2) {
	opacity: 0;
}

.navbar-toggle a.slicknav_btn.slicknav_open .slicknav_icon span.slicknav_icon-bar:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -5px);
}

.slicknav_menu {
	position: absolute;
	width: 100%;
	padding: 0;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
}

.slicknav_menu ul {
	margin: 5px 0;
}

.slicknav_menu ul ul {
	margin: 0;
}

.slicknav_nav .slicknav_row,
.slicknav_nav li a {
	position: relative;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	padding: 8px 20px;
	color: var(--white-color);
	line-height: normal;
	margin: 0;
	border-radius: 0 !important;
	transition: all 0.3s ease-in-out;
}

.slicknav_nav a:hover,
.slicknav_nav a:focus,
.slicknav_nav .slicknav_row:hover {
	background-color: transparent;
	color: var(--primary-color);
}

.slicknav_menu ul ul li a {
	padding: 8px 20px 8px 30px;
}

.slicknav_arrow {
	font-size: 0 !important;
}

.slicknav_arrow:after {
	content: '\f107';
	font-family: 'FontAwesome';
	font-weight: 900;
	font-size: 12px;
	margin-left: 8px;
	color: var(--white-color);
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease-out;
}

.slicknav_open>a .slicknav_arrow:after {
	transform: translateY(-52%) rotate(-180deg);
	color: var(--primary-color);
}

/************************************/
/***        04. Hero css	      ***/
/************************************/

.hero {
	height: 60vh;
	background: url('../images/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;
		justify-content: center;
}

.hero::before {
	content: '';
	top: 80px;
	background: linear-gradient(270deg, rgba(1, 5, 53, 0.28) 43.57%, rgba(1, 5, 53, 0.8) 100%);
	width: 100%;
	height: 60vh;
	z-index: 1;
	position: absolute;
}

.hero-contact {
	height: 30vh;
}

.hero-contact::before {
	height: 30vh;
}


.active-nav {
	color: var(--accent-secondary-color) !important
}

.hero.hero-slider-layout {
	background: none;
	padding: 0;
}

.hero.hero-slider-layout .hero-slide {
	position: relative;
	padding: 205px 0;
}

.hero.hero-slider-layout .hero-slide::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(270deg, rgba(1, 5, 53, 0.28) 43.57%, rgba(1, 5, 53, 0.8) 100%);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.hero.hero-slider-layout .hero-slide .hero-slider-image {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.hero.hero-slider-layout .hero-slide .hero-slider-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero.hero-slider-layout .hero-pagination {
	position: absolute;
	bottom: 70px;
	text-align: left;
	padding-left: calc(((100vw - 1300px) / 2) + 15px);
	z-index: 2;
}

.hero.hero-slider-layout .hero-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: var(--white-color);
	opacity: 1;
	transition: all 0.3s ease-in-out;
	margin: 0 5px;
}

.hero.hero-slider-layout .hero-pagination .swiper-pagination-bullet-active {
	background-color: var(--accent-color);
}

.hero-content {
	position: relative;
	width: 100%;
	max-width: 835px;
	z-index: 2;
}

.hero-content-body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 40px;
}

.hero-content-footer {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 80px;
}

.hero-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hero-list ul li {
	background: url('../images/icon-check-white.svg') no-repeat;
	background-position: left top;
	background-size: 24px auto;
	line-height: 1.5em;
	text-transform: capitalize;
	color: var(--white-color);
	border-bottom: 1px solid var(--dark-divider-color);
	margin-bottom: 25px;
	padding: 0 0 25px 35px;
}

.hero-list ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

/************************************/
/***       05. About Us css       ***/
/************************************/

.about-us {
	padding: 100px 0;
}


.about-us-image figure {
	display: block;
	border-radius: 30px;
}

.about-us-image img {
	width: 100%;
	max-width: 100%;
	aspect-ratio: 1 / 0.608;
	object-fit: cover;
	border-radius: 30px;
}


/************************************/
/*** 	  06. Our Services css	  ***/
/************************************/

.our-services {
	background: var(--secondary-color);
	padding: 100px 0 70px;
}

.service-item {
	position: relative;
	background: var(--white-color);
	border: 1px solid var(--divider-color);
	border-radius: 30px;
	height: calc(100% - 30px);
	margin-bottom: 30px;
	padding: 40px;
	overflow: hidden;
}

.service-item::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	height: 0;
	width: 100%;
	z-index: 0;
	transition: all 0.4s ease-in-out;
}

.service-item.active:before,
.service-item:hover:before {
	height: 100%;
}

.service-item .icon-box {
	position: relative;
	margin-bottom: 90px;
	z-index: 1;
}

.service-item .icon-box img {
	width: 100%;
	max-width: 80px;
	transition: all 0.4s ease-in-out;
}

.service-item.active .icon-box img,
.service-item:hover .icon-box img {
	filter: brightness(0) invert(1);
}

.service-title-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	z-index: 1;
}

.service-title {
	width: calc(100% - 55px);
}

.service-title h3 {
	font-size: 20px;
	font-weight: 600;
	transition: all 0.4s ease-in-out;
}

.service-item.active .service-title h3,
.service-item:hover .service-title h3 {
	color: var(--white-color);
}

.service-title h3 a {
	color: inherit;
}

.service-btn a {
	position: relative;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	color: var(--white-color);
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-left: 15px;
	transition: all 0.4s ease-in-out;
}

.service-item.active .service-btn a,
.service-item:hover .service-btn a {
	background: var(--white-color);
	color: var(--accent-secondary-color);
}

.service-item .service-btn a:hover {
	color: var(--primary-color);
}

.service-btn a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: all 0.4s ease-in-out;
}

.service-btn a i {
	font-size: 20px;
	color: inherit;
}

.service-content {
	position: relative;
	z-index: 1;
}

.service-content p {
	margin-bottom: 0;
	transition: all 0.4s ease-in-out;
}

.service-item.active .service-content p,
.service-item:hover .service-content p {
	color: var(--white-color);
}

.service-item.active .service-content p,
.service-item:hover .service-content p {
	color: var(--white-color);
}

.service-item .service-content ul li::marker,
.service-item .service-content ul li::marker {
	content: "✔ ";
	/* color: var(--primary-color); */
	color: var(--accent-secondary-color);
	font-size: 18px;
}

.service-item.active .service-content ul li::marker,
.service-item:hover .service-content ul li::marker {
	content: "✔ ";
	color: var(--white-color);
	font-size: 18px;
}


/************************************/
/*** 	   07. Our FAQs css 	  ***/
/************************************/

.our-faqs {
	padding: 100px 0;
}

.our-faqs.home-our-faqs {
	background: var(--white-color);
}

.faq-content {
	margin-right: 30px;
}

.faq-image figure {
	display: block;
	border-radius: 30px;
}

.faq-image img {
	width: 100%;
	max-width: 100%;
	aspect-ratio: 1 / 0.608;
	object-fit: cover;
	border-radius: 30px;
}

.faq-accordion .accordion-item {
	position: relative;
	background: var(--white-color);
	border: 1px solid var(--divider-color);
	border-radius: 20px;
	margin-bottom: 30px;
	padding: 0;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

.faq-accordion .accordion-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	border-radius: 20px;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.faq-accordion .accordion-item:last-child {
	margin-bottom: 0;
}

.faq-accordion .accordion-header .accordion-button {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4em;
	background: transparent;
	color: var(--primary-color);
	padding: 26px 50px 26px 30px;
	transition: all 0.3s ease-in-out;
}

.faq-accordion .accordion-header .accordion-button:not(.collapsed) {
	color: var(--white-color);
	border-bottom: 1px solid var(--dark-divider-color);
}

.faq-accordion .accordion-header .accordion-button.collapsed {
	background: var(--secondary-color);
	color: var(--primary-color);
}

.faq-accordion .accordion-item .accordion-button::after,
.faq-accordion .accordion-item .accordion-button.collapsed::after {
	content: '\f107';
	font-family: 'FontAwesome';
	font-size: 20px;
	font-weight: 900;
	color: var(--primary-color);
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out;
}

.faq-accordion .accordion-button:not(.collapsed)::after {
	color: var(--white-color);
	transform: translateY(-50%) rotate(180deg);
}

.faq-accordion .accordion-body {
	position: relative;
	padding: 15px 50px 30px 30px;
	z-index: 1;
}

.faq-accordion .accordion-body p {
	color: var(--white-color);
	opacity: 80%;
	margin: 0;
}

/************************************/
/*** 	   08. Our Blog css 	  ***/
/************************************/

.our-blog {
	padding: 100px 0;
	background: var(--secondary-color);
}

.post-item {
	position: relative;
	height: calc(100% - 30px);
	margin-bottom: 30px;
}

.post-featured-image a {
	display: block;
	border-radius: 30px;
	overflow: hidden;
	cursor: none;
}

.post-featured-image figure:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, transparent 58.63%, var(--accent-color) 110.88%);
	z-index: 1;
}

.post-featured-image img {
	width: 100%;
	max-width: 100% !important;
	aspect-ratio: 1 / 1.02;
	object-fit: cover;
	transition: all 0.4s ease-in-out;
}

.post-item:hover .post-featured-image img {
	transform: scale(1.1);
}

.post-item-content {
	position: absolute;
	right: 30px;
	bottom: 30px;
	left: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 15px;
	z-index: 2;
}

.post-item-body h2 {
	font-size: 20px;
	line-height: 1.4em;
	color: var(--white-color);
}

.post-item-body h2 a {
	color: inherit;
}

.post-item-btn a {
	height: 42px;
	width: 42px;
	border-radius: 50%;
	display: flex;
	background-color: var(--white-color);
	color: var(--accent-color);
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
}

.post-item-btn a:hover {
	background: var(--primary-color);
	color: var(--white-color);
}

.post-item-btn a i {
	font-size: 20px;
	color: inherit;
}

/************************************/
/*** 	   09. Footer css   	  ***/
/************************************/

.main-footer {
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	padding-top: 40px;
	display: flex;
		flex-direction: column;
		gap: 24px;
}

.footer-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 80px;
	padding-bottom: 50px;
}

.footer-logo {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.footer-logo img {
	width: 100%;
	max-width: 300px;
}

.footer-social-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-social-links ul li {
	display: inline-block;
	margin-right: 15px;
}

.footer-social-links ul li:last-child {
	margin-right: 0;
}

.footer-social-links ul li a {
	border: 1px solid var(--white-color);
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

.footer-social-links ul li:hover a {
	border-color: var(--primary-color);
}

.footer-social-links ul li a i {
	color: var(--white-color);
	font-size: 18px;
	transition: all 0.3s ease-in-out;
}

.footer-social-links ul li:hover a i {
	color: var(--primary-color);
}

.footer-newsletter-form {
	margin-right: 30px;
}

.footer-links h3 {
	font-size: 20px;
	color: var(--white-color);
	text-transform: capitalize;
	margin-bottom: 20px;
}

.footer-links p {
	color: var(--white-color);
	margin-bottom: 30px;
}

.footer-newsletter-form .form-group {
	display: flex;
}

.footer-newsletter-form .form-group .form-control {
	width: calc(100% - 70px);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4em;
	color: var(--text-color);
	background: var(--white-color);
	border: 1px solid var(--divider-color);
	border-radius: 100px;
	outline: none;
	box-shadow: none;
	padding: 15px 20px;
}

.footer-newsletter-form .form-group .form-control::placeholder {
	color: var(--text-color);
}

.footer-newsletter-form .form-group .newsletter-btn {
	background-color: var(--white-color);
	color: var(--primary-color);
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin-left: 10px;
	transition: all 0.3s ease-in-out;
}

.footer-newsletter-form .form-group .newsletter-btn:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
	transform: rotate(25deg);
}

.footer-newsletter-form .form-group .newsletter-btn i {
	font-size: 30px;
	color: inherit;
	padding-right: 5px;
}

.footer-quick-links {
	margin-left: 30px;
}

.footer-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-links ul li {
	color: var(--white-color);
	text-transform: capitalize;
	line-height: 1.7em;
	margin-bottom: 10px;
}

.footer-links ul li:last-child {
	margin-bottom: 0;
}

.footer-links ul li a {
	color: inherit;
	transition: all 0.3s ease-in-out;
}

.footer-links ul li a:hover {
	color: var(--primary-color);
}

.footer-copyright {
	border-top: 1px solid var(--dark-divider-color);
	margin-top: 32px;
	padding: 32px 0;
}

.footer-copyright-text {
	text-align: center;
}

.footer-copyright-text p {
	color: var(--white-color);
	margin-bottom: 0;
}

/************************************/
/*** 	 18. About Us Page css	  ***/
/************************************/

.page-header {
	position: relative;
	background-image: url('../images/page-header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 145px 0;
}

.page-header::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(270deg, rgba(1, 5, 53, 0.28) 43.57%, rgba(1, 5, 53, 0.8) 100%);
	width: 100%;
	height: 100%;
	z-index: 0;
}

.page-header-box {
	position: relative;
	z-index: 1;
}

.page-header-box h1 {
	display: inline-block;
	color: var(--white-color);
	font-size: 68px;
	font-weight: 800;
	line-height: 1.2em;
	margin-bottom: 10px;
	cursor: none;
}

.page-header-box ol {
	margin: 0;
	padding: 0;
}

.page-header-box ol li.breadcrumb-item {
	font-weight: 500;
	text-transform: capitalize;
	line-height: normal;
	color: var(--white-color);
}

.page-header-box ol li.breadcrumb-item a {
	color: inherit;
}

.page-header-box ol li.breadcrumb-item.active {
	color: var(--white-color);
}

.page-header-box ol .breadcrumb-item+.breadcrumb-item::before {
	color: var(--white-color);
}

.our-approach {
	position: relative;
	padding: 100px 0;
	background-color: var(--accent-secondary-color);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


.our-approach:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgba(242, 242, 245, 0.6) 99.12%, #F2F2F5 99.38%);
	height: 100%;
	width: 100%;
	z-index: 1;
}

.our-approach-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.our-approach-image {
	position: relative;
	z-index: 1;
}

.our-approach-content {
	position: relative;
	margin-right: 1rem;
	z-index: 2;
}

.mission-vision-item {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background: var(--white-color);
	border-radius: 30px;
	padding: 25px 30px;
	box-shadow: 0px 0px 100px 2px #0000000D;
	margin-bottom: 30px;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
}

.mission-vision-item:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	transition: all 0.4s ease-in-out;
	z-index: 0;
}

.mission-vision-item:hover:before {
	top: 0;
	bottom: auto;
	height: 100%;
}

.mission-vision-item:last-child {
	margin-bottom: 0;
}

.mission-vision-item .icon-box {
	position: relative;
	margin-right: 30px;
	z-index: 1;
}

.mission-vision-item .icon-box img {
	width: 100%;
	max-width: 80px;
	transition: all 0.4s ease-in-out;
}

.mission-vision-item:hover .icon-box img {
	filter: brightness(0) invert(1);
}

.mission-vision-content {
	position: relative;
	width: calc(100% - 110px);
	z-index: 1;
}

.mission-vision-content h3 {
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 10px;
	transition: all 0.4s ease-in-out;
}

.mission-vision-content p {
	margin: 0;
	transition: all 0.4s ease-in-out;
}

.mission-vision-item:hover .mission-vision-content h3,
.mission-vision-item:hover .mission-vision-content p {
	color: var(--white-color);
}

.our-approach-image figure {
	display: block;
	border-radius: 30px;
}

.our-approach-image img {
	width: 100%;
	aspect-ratio: 1 / 0.863;
	object-fit: cover;
	border-radius: 30px;
	max-width: 100%;
}

/************************************/
/***   	  Services Page css	      ***/
/************************************/

.our-services.page-services {
	padding: 100px 0 70px;
}

.page-services .service-item {
	box-shadow: 0px 0px 100px 2px #0000000D;
}


/************************************/
/*** 	 Privacy Page css   	  ***/
/************************************/
.privacy-policy {
	max-width: 800px;
	margin: 60px auto;
	padding: 20px;
	background-color: #fff;
	color: #333;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
}

.privacy-policy h1 {
	font-size: 2em;
	margin-bottom: 20px;
	color: #0056b3;
}

.privacy-policy h4 {
	font-size: 1.5em;
	margin: 16px 0;
	color: #333;
}

.privacy-policy p {
	margin-bottom: 0;
	color: #333;
}

.privacy-policy ul {
	padding-left: 20px;
}

.privacy-policy a {
	color: #007bff;
	text-decoration: none;
}

.privacy-policy a:hover {
	text-decoration: underline;
}
/************************************/
/*** 	     Blog Single css	  ***/
/************************************/

.page-single-post {
	padding: 100px 0;
}

.post-image {
	margin-bottom: 30px;
}

.post-image figure {
	display: block;
	border-radius: 30px;
	overflow: hidden;
}

.post-image img {
	width: 100%;
	aspect-ratio: 1 / 0.50;
	object-fit: cover;
	border-radius: 30px;
}

.post-content {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.post-entry {
	border-bottom: 1px solid var(--divider-color);
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.post-entry:after {
	content: '';
	display: block;
	clear: both;
}

.post-entry a {
	color: var(--accent-color);
}

.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6 {
	font-weight: 700;
	line-height: 1.2em;
	margin: 0 0 0.435em;
}

.post-entry h1 {
	font-size: 68px;
}

.post-entry h2 {
	font-size: 46px;
}

.post-entry h3 {
	font-size: 40px;
}

.post-entry h4 {
	font-size: 30px;
}

.post-entry h5 {
	font-size: 24px;
}

.post-entry h6 {
	font-size: 18px;
}

.post-entry p {
	margin-bottom: 20px;
}

.post-entry p:last-child {
	margin-bottom: 0;
}

.post-entry p strong {
	color: var(--primary-color);
	font-size: 20px;
	font-weight: 600;
}

.post-entry ol {
	margin: 0 0 30px;
}

.post-entry ul {
	padding: 0;
	margin: 20px 0 20px;
	padding-left: 20px;
}

.post-entry ol li,
.post-entry ul li {
	position: relative;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5em;
	color: var(--text-color);
	margin-bottom: 15px;
}

.post-entry ul li:last-child {
	margin-bottom: 0;
}

.post-entry ul ul,
.post-entry ul ol,
.post-entry ol ol,
.post-entry ol ul {
	margin-top: 20px;
	margin-bottom: 0;
}

.post-entry ul ul li:last-child,
.post-entry ul ol li:last-child,
.post-entry ol ol li:last-child,
.post-entry ol ul li:last-child {
	margin-bottom: 0;
}

.post-entry blockquote {
	background: url('../images/icon-blockquote.svg'), var(--primary-color);
	background-repeat: no-repeat;
	background-position: 35px 25px;
	background-size: 55px;
	border-radius: 30px;
	padding: 30px 30px 30px 100px;
	margin-bottom: 30px;
}

.post-entry blockquote p {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.4em;
	color: var(--white-color);
}

.post-entry blockquote p:last-child {
	margin-bottom: 0;
}

.tag-links {
	font-size: 20px;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--primary-color);
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.post-tags .tag-links a {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 1em;
	background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-secondary-color) 50%, var(--accent-color) 100%);
	background-size: 200% auto;
	color: var(--white-color);
	border-radius: 10px;
	padding: 12px 20px;
	transition: all 0.3s ease-in-out;
}

.post-tags .tag-links a:hover {
	background-position: right center;
}

.post-social-sharing {
	text-align: right;
}

.post-social-sharing ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-social-sharing ul li {
	display: inline-block;
	margin-right: 10px;
}

.post-social-sharing ul li:last-child {
	margin-right: 0;
}

.post-social-sharing ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-secondary-color) 50%, var(--accent-color) 100%);
	background-size: 200% auto;
	color: var(--white-color);
	border-radius: 10px;
	width: 38px;
	height: 38px;
	transition: all 0.3s ease-in-out;
}

.post-social-sharing ul li:hover a {
	background-position: right center;
}

.post-social-sharing ul li a i {
	font-size: 18px;
	color: inherit;
}

/************************************/
/*** 	      FAQs Page css 	  ***/
/************************************/

.page-faqs {
	padding: 100px 0;
}

.page-faqs-accordion {
	margin-bottom: 60px;
}

.page-faqs-accordion:last-child {
	margin-bottom: 0px;
}

/************************************/
/*** 	    Contact Us Page css   ***/
/************************************/

.page-contact-us {
	padding: 40px 0;
}

.page-contact-us .section-row .section-title {
	max-width: 600px;
}

.page-contact-box {
	position: relative;
	padding: 0 120px 120px 120px;
	background: url('../images/contact-box-bg.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	border: 1px solid var(--divider-color);
	box-shadow: 0px 0px 100px 2px #0000000D;
	border-radius: 30px;
	margin-top: 150px;
}

.page-contact-box:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	opacity: 80%;
	border-radius: 30px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.contact-info-list {
	position: relative;
	background: linear-gradient(90.15deg, var(--accent-color) 1.15%, var(--accent-secondary-color) 98.84%);
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px 100px;
	padding: 60px;
	z-index: 1;
	padding: 80px;
}

.contact-info-item {
	position: relative;
	width: calc(33.33% - 66.66px);
}

.contact-info-item:before {
	content: '';
	position: absolute;
	top: 50%;
	right: -50px;
	bottom: 0;
	left: auto;
	transform: translateY(-50%);
	background: var(--dark-divider-color);
	width: 1px;
	height: 85%;
}

.contact-info-item:last-child::before,
.contact-info-item:nth-child(3n + 3)::before {
	display: none;
}

.contact-info-item .icon-box {
	position: relative;
	height: 60px;
	width: 60px;
	background: var(--white-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.contact-info-item .icon-box::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: var(--primary-color);
	border-radius: 50%;
	transform: scale(0);
	transition: all 0.4s ease-in-out;
}

.contact-info-item:hover .icon-box::before {
	transform: scale(1);
}

.contact-info-item .icon-box img {
	position: relative;
	width: 100%;
	max-width: 30px;
	transition: all 0.4s ease-in-out;
	z-index: 1;
}

.contact-info-item:hover .icon-box img {
	filter: brightness(0) invert(1);
}

.contact-info-content h3 {
	color: var(--white-color);
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.contact-info-content p {
	color: var(--white-color);
	opacity: 80%;
	margin: 0;
}

.contact-info-content p a {
	color: inherit;
	transition: all 0.4s ease-in-out;
}

.contact-info-content p a:hover {
	color: var(--primary-color);
}

.contact-us-form {
	position: relative;
	text-align: center;
	z-index: 1;
}

.footer-contact-section {
	display: inline-flex;
	gap: 10px;
	text-align: center;
}

.footer-contact-location-section {
	display: inline-flex;
	gap: 10px;
	align-items: flex-start;
}

.footer-email-text {
	text-transform: none;
}

.member-contact-form.contact-form .form-control {
	background: var(--white-color);
}

.google-map .container-fluid {
	padding: 0;
}

.google-map-iframe,
.google-map-iframe iframe {
	height: 650px;
	width: 100%;
}

.google-map-iframe iframe {
	filter: grayscale(100%);
	transition: all 0.4s ease-in-out;
}

.google-map-iframe iframe:hover {
	filter: grayscale(0%);
}

/************************************/
/***          Responsive css      ***/
/************************************/

@media only screen and (max-width: 991px) {

	.btn-default {
		font-size: 16px;
		padding: 15px 50px 15px 20px;
	}

	.btn-default::before {
		transform: translate(-20px, -50%);
		font-size: 18px;
	}

	.btn-default:hover::before {
		transform: translate(-17px, -50%);
	}

	.navbar {
		padding: 8px 0;
	}

	.main-menu ul li.highlighted-menu {
		display: block;
	}

	.slicknav_nav li,
	.slicknav_nav ul {
		display: block;
	}

	.responsive-menu,
	.navbar-toggle {
		display: block;
	}

	.header-btn {
		display: none;
	}

	.section-row {
		margin-bottom: 40px;
	}

	.section-row .section-title {
		max-width: 100%;
	}

	.section-title {
		margin-bottom: 30px;
	}

		.section-title h3 {
		margin-bottom: 10px;
	}

	.section-title h1 {
		font-size: 50px;
	}

	.section-title h2 {
		font-size: 36px;
	}

	.section-title p {
		margin-top: 10px;
	}

	.section-title-content {
		margin-left: 0;
		margin-top: 15px;
	}

	.section-btn {
		text-align: left;
		margin-top: 15px;
	}

	.hero.hero-video {
		padding: 120px 0;
	}

	.hero.hero-slider-layout .hero-slide {
		padding: 120px 0;
	}

	.hero.hero-slider-layout .hero-pagination {
		bottom: 40px;
		padding-left: 15px;
	}

	.hero-content {
		max-width: 100%;
	}

	.video-play-button a {
		height: 45px;
		width: 45px;
	}

	.hero-content-footer {
		margin-top: 40px;
	}

	.hero-list ul li {
		background-size: 22px auto;
		background-position: left top 2px;
		margin-bottom: 15px;
		padding: 0 0 15px 30px;
	}

	.client-image {
		width: 50px;
		height: 50px;
	}

	.client-image img {
		max-width: 50px;
	}

	.client-image.client-counter h3 {
		font-size: 20px;
	}

	.about-us {
		padding: 50px 0 30px;
	}


	.about-us-content {
		margin-left: 0px;
		padding-top: 40px;
	}

	.about-us-body {
		margin-bottom: 30px;
	}

	.about-contact-btn {
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	.about-contact-btn .icon-box {
		height: 40px;
		width: 40px;
	}

	.about-contact-btn .icon-box img {
		max-width: 22px;
	}

	.our-services {
		padding: 50px 0 20px;
	}

	.service-item {
		border-radius: 20px;
		padding: 30px;
	}

	.service-item .icon-box {
		margin-bottom: 60px;
	}

	.service-item .icon-box img {
		max-width: 60px;
	}

	.our-feature {
		padding: 50px 0;
	}

	.our-feature-images {
		margin-bottom: 30px;
	}

	.feature-image figure {
		border-radius: 20px;
	}

	.feature-image img {
		aspect-ratio: 1 / 0.48;
		border-radius: 20px;
	}

	.company-experience-info .feature-image img {
		aspect-ratio: 1 / 0.54;
	}

	.company-experience-box {
		border-radius: 20px;
		padding: 25px 20px;
	}

	.company-experience-content {
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	.company-experience-content h2 {
		font-size: 45px;
		margin-bottom: 5px;
	}

	.our-feature-content {
		margin: 0;
	}

	.ferature-list-item {
		margin-bottom: 30px;
	}

	.ferature-list-item .icon-box {
		height: 50px;
		width: 50px;
		margin-right: 15px;
	}

	.ferature-list-item .icon-box img {
		max-width: 25px;
	}

	.ferature-list-content {
		width: calc(100% - 65px);
	}

	.our-projects {
		padding: 50px 0;
	}

	.projects-list {
		border-radius: 20px;
	}

	.project-item {
		width: 50%;
	}

	.project-item:nth-child(-4n + 4) {
		border-radius: 0;
	}

	.project-item:nth-child(-2n + 2) {
		border-radius: 0 20px 0 0;
	}

	.project-item:last-child {
		border-radius: 0 0 20px 0;
	}

	.project-image img {
		aspect-ratio: 1 / 1.05;
	}

	.project-content p {
		margin-bottom: 15px;
	}

	.section-footer-text {
		max-width: 100%;
		margin: 30px auto 0;
	}

	.our-faqs {
		padding: 50px 0;
	}

	.faq-content {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.faq-image figure,
	.faq-image img {
		border-radius: 20px;
	}

	.faq-accordion .accordion-item::before,
	.faq-accordion .accordion-item {
		border-radius: 10px;
	}

	.faq-accordion .accordion-header .accordion-button {
		padding: 20px 45px 20px 20px;
	}

	.faq-accordion .accordion-item .accordion-button::after,
	.faq-accordion .accordion-item .accordion-button.collapsed::after {
		right: 20px;
	}

	.faq-accordion .accordion-body {
		padding: 15px 45px 20px 20px;
	}

	.our-blog {
		padding: 50px 0 20px;
	}

	.post-featured-image a {
		border-radius: 20px;
	}

	.post-featured-image img {
		aspect-ratio: 1 / 0.85;
	}

	.post-item-content {
		right: 20px;
		bottom: 20px;
		left: 20px;
	}

	.post-item-btn a {
		height: 36px;
		width: 36px;
	}

	.main-footer {
		padding: 24px 0;
	}

	.footer-header {
		margin-bottom: 40px;
		padding-bottom: 40px;
	}


	.footer-logo img {
		max-width: 183px;
		padding-bottom: 16px;
	}

	.footer-newsletter-form {
		margin: 0 0 30px 0;
	}

	.footer-quick-links,
	.footer-links {
		margin: 0;
	}

	.footer-links h3 {
		margin-bottom: 15px;
	}

	.footer-links p {
		margin-bottom: 20px;
	}

	.footer-newsletter-form .form-group .form-control {
		width: calc(100% - 60px);
		padding: 10px 20px;
	}

	.footer-newsletter-form .form-group .newsletter-btn {
		width: 50px;
		height: 50px;
	}

	.footer-newsletter-form .form-group .newsletter-btn i {
		font-size: 24px;
	}

	.footer-copyright {
		margin-top: 0;
		padding: 30px 0;
	}

	.page-header {
		padding: 80px 0;
	}

	.page-header-box h1 {
		font-size: 50px;
	}

	.our-approach {
		padding: 50px 0;
	}

	.our-approach-content {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 30px;
	}

	.our-services.page-services {
		padding: 50px 0 20px;
	}

	.page-blog {
		padding: 50px 0;
	}

	.page-single-post {
		padding: 50px 0;
	}

	.post-image {
		margin-bottom: 20px;
	}

	.post-image figure,
	.post-image img {
		border-radius: 20px;
	}

	.post-entry h1,
	.post-entry h2,
	.post-entry h3,
	.post-entry h4,
	.post-entry h5,
	.post-entry h6 {
		margin: 0 0 0.417em;
	}

	.post-entry h2 {
		font-size: 36px;
	}

	.post-entry p {
		margin-bottom: 15px;
	}

	.post-entry ul li {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.post-entry blockquote {
		background-position: 25px 25px;
		background-size: 50px;
		padding: 25px 25px 25px 85px;
		border-radius: 20px;
		margin-bottom: 20px;
	}

	.post-entry blockquote p {
		font-size: 18px;
	}

	.post-tags {
		margin-bottom: 20px;
	}

	.post-tags .tag-links a {
		padding: 12px 15px;
	}

	.post-social-sharing ul {
		text-align: left;
	}

	.page-faqs {
		padding: 50px 0;
	}

	.page-faqs-accordion {
		margin-bottom: 40px;
	}

	.page-contact-us {
		padding: 40px 0;
	}

	.page-contact-us .section-row .section-title {
		max-width: 100%;
	}

	.contact-info-list {
		gap: 20px;
		border-radius: 20px;
		padding: 20px;
	}

	.contact-info-item {
		width: calc(33.33% - 13.33px);
	}

	.contact-info-item:before {
		right: -10px;
	}

	.contact-info-item .icon-box {
		width: 50px;
		height: 50px;
		margin-bottom: 20px;
	}

	.contact-info-item .icon-box img {
		max-width: 25px;
	}

	.contact-info-content h3 {
		margin-bottom: 10px;
	}

	.contact-info-content p {
		font-size: 14px;
	}

}

@media only screen and (max-width: 767px) {

	.section-row {
		margin-bottom: 30px;
	}

	.section-title h1 {
		font-size: 30px;
	}

	.section-title h2 {
		font-size: 26px;
	}


	.hero-content-body {
		gap: 20px;
		justify-content: space-between;
	}

		.about-us {
			padding: 60px 0;
		}

	.about-us-image {
		gap: 20px;
	}

	.about-image-box {
		width: 95%;
		/*  calc(50% - 10px);*/
	}

		.about-us-content {
			padding-top: 32px;
	}

	.about-us-body {
		align-items: inherit;
		border-radius: 20px;
		margin-left: 0px;
		padding-right: 0px;
		overflow: hidden;
	}

	.about-us-body-img {
		display: block;
		width: auto;
		height: auto;
		clip-path: none;
		margin-right: 0px;
		margin-left: 0;
	}

	.about-us-body-img figure {
		width: 100%;
		height: 100%;
		clip-path: none;
	}

	.about-us-body-img img {
		width: 130px;
		height: 100%;
	}

	.about-us-body-content {
		width: calc(100% - 130px);
		height: 100%;
		padding: 12px;
	}

	.about-us-body-content h3 {
		font-size: 16px;
	}

	.about-us-body-content p {
		font-size: 14px;
	}

	.service-item {
		padding: 20px;
	}

	.service-item .icon-box {
		margin-bottom: 30px;
	}

	.service-item .icon-box img {
		max-width: 40px;
	}

	.service-title h3 {
		font-size: 18px;
	}

	.service-btn a {
		height: 35px;
		width: 35px;
	}

	.service-btn a i {
		font-size: 16px;
	}

	.faq-accordion .accordion-header .accordion-button {
		font-size: 18px;
		padding: 14px 40px 14px 14px;
	}

	.faq-accordion .accordion-item .accordion-button::after,
	.faq-accordion .accordion-item .accordion-button.collapsed::after {
		font-size: 18px;
		right: 14px;
	}

	.faq-accordion .accordion-body {
		padding: 10px 14px 14px;
	}

	.post-item-body h2 {
		font-size: 18px;
	}

	.footer-logo {
		margin-bottom: 20px;
		flex-direction: row;
		align-items: center;
			border-bottom: 1px solid var(--dark-divider-color);
	}


	.footer-social-links ul li {
		margin-right: 10px;
	}

	.footer-links h3 {
		font-size: 18px;
	}

	.footer-copyright {
		padding: 15px 0;
	}

	.post-image img {
		aspect-ratio: 1 / 0.7;
	}

	.post-entry blockquote {
		background-position: 15px 12px;
		padding: 60px 15px 15px 15px;
	}

	.post-entry h2 {
		font-size: 26px;
	}

	.tag-links {
		font-size: 18px;
	}

	.contact-info-list {
		gap: 30px;
	}

	.contact-info-item {
		width: 100%;
	}

	.contact-info-item:before {
		top: auto;
		right: 0;
		bottom: -15px;
		left: 0;
		width: 100%;
		height: 1px;
	}

	.contact-info-item:nth-child(3n + 3)::before {
		display: block;
	}

	.contact-info-item:last-child::before {
		display: none;
	}

	.contact-info-item .icon-box {
		margin-bottom: 15px;
	}

	.contact-info-content h3 {
		font-size: 18px;
	}

	.google-map-iframe,
	.google-map-iframe iframe {
		height: 350px;
	}
}